.app-content {
  padding: 20px;
  opacity: 0.9;
}

.input-material {
  width: 80%;
  font-family: 'Oswald', sans-serif;
}

.input-material-about {
  width: 100%;
}
.news-table{
  font-family: 'Oswald', sans-serif;
}
.btn-group-editor {
  margin-top: 20px;
}

:host { width: 100%; display: block; position: absolute; }