.home-wrapper {
  display: block;
  margin: 0 auto;
  padding: 15px;
  margin-top: 64px;
}

.news-header {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.example-card {
  margin: auto;
  max-width: 900px;
}

.news-body {
  font-family: 'Oswald', sans-serif;
}

.header-container {
  min-height: 98px;
}

.example-header-image {
  background-image: url('assets/img/examples/shiba1.jpg');
  background-size: cover;
}

:host {
  width: 100%;
  display: block;
  position: absolute;
}