.app-content {
  padding: 20px;
  opacity: 0.9;
}

.glider-table{
  font-family: 'Oswald', sans-serif;
}

.tr-line {
  border-bottom: 1px solid black;
}

:host { width: 100%; display: block; position: absolute; }